<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HelloVue</title>
  <script src="./vue.js"></script>
</head>
<style>
  .btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
    color: #333;
    display: inline-block;
    margin: 8px;
    cursor: pointer;
  }

  .active {
    border-color: limegreen;
    color: limegreen;
  }
</style>

<body>

  <div id="app">

    <div>
      <div class="btn" :class="{active:v==num}" v-for="v in 5" @click="num = v">{{v}}</div>
    </div>
    <br>

    <ul>
      <li v-for="i in 3">{{valueA}}</li>
    </ul>
    <ul>
      <li v-for="i in 3">{{getValueB()}}</li>
    </ul>

    <!-- - computed: 运算复杂 多次调用 多个依赖
- watch: 单一依赖
- method: 针对性
- 表达式：简单计算
- 自定义修饰符：特定常用事件（了解） -->
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        num: 0,
        num2:1,
        num3:3
      },
      computed: {
        valueA() {
          // 一个非常复杂的计算
          console.log('valueA')

          return (this.num + 20) * 4 * 2 + 20;
        }
      },
      watch:{
        num(nv,ov){
          // do some thing
          console.log(`newvalue${nv},oldValue${ov}`)
        }
      },
      methods:{
        getValueB(){
          console.log('getValueB')
          return this.num+66;
        }
      }
    })
  </script>

</body>

</html>